body {
  margin: 0;
  padding: 0;
  background-color: #0d0d12;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#game-container canvas {
    display: block; /* Remove bottom whitespace */
}
